<script type="text/javascript">
setTimeout(function sunrise () {
    document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<div class="default-page" ng-app="sails-chat-example">
    <div class="header">
        <h3 id="main-title" class="container"><%= __('Real time status update example using sails.js.') %></h3>
    </div>
    <div class="main container clearfix">
        <ul class="getting-started">
          <div class="container" ng-controller="MainCtrl">
            <form class="form-horizontal" ng-submit="send()">
              <div class="form-group">
                <div class="col-sm-9">
                  <input type="text" class="form-control" placeholder="Username" ng-model="data.name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-9">
                <textarea rows=5 cols=5 class="form-control" placeholder="Message" ng-model="data.message"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                  <button type="submit" class="btn btn-default">Post</button>
                </div>
              </div>
            </form>
            <div class="panel panel-default" ng-repeat="n in messages">
              <div class="panel-heading">
                <h3 class="panel-title">{{n.name}}</h3>
              </div>
              <div class="panel-body">
                {{n.message}}
              </div>
            </div>
          </div>
        </ul>
    </div>
</div>
